@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .animate-fade-in-out {
    animation: fadeInOut 3s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
}
